{% load static %}
<html>

<head>
	<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'icofont/icofont.min.css'%}">
</head>
<body>
	<footer class="bg-dark text-light  p-5">
	<div class="row" > 
	<div class="col-6">
	<h4  >subscribe to our newsletter:</h4><br/><br/>
	<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="your email address" aria-label="Recipient's username" aria-describedby="button-addon2">
  <button class="btn btn-warning btn-lg ps-5 pe-5 rounded-pil">subscribe</button>
</div>
</div>

<div class="col-2">
	<h4>Quick links</h4><br/><br/>
	<p>About</p>
	<p>contact</p>
	<p>feature</p>
</div>
<div class="col-2">
	<h4>Address</h4><br/><br/>
	<p>JL. Tisrtasari selatan No. 4C</p>
	<P>KOTA BANDUNG-</P>
	<P>SUKASARI JAWA BARAT</P>
	<P>ID 40151</P>

</div>
<div class="col-2">
	<h4>Get In Touch</h4><br/><br/>
	<p>081320990101</p>
	<p>contact@domain.com</p>
</div>
</div>
<div class="row">
	<div class="col-6">
		&copy 2023 TTS All rights reserved.
	</div>
	<div class="col-6 text-end">  privacy policy     &nbsp; &nbsp; &nbsp; terms & conditions  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <i class="icofont-facebook"></i>&nbsp; &nbsp; &nbsp; &nbsp; <i class="icofont-twitter"></i>&nbsp; &nbsp; &nbsp; &nbsp;  <i class="icofont-instagram"> </i> </div>
</div>

<br/><br/>


</footer>
</body>
</html>