<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="submit_form.php" method="POST">
            <div class="input-group">
                <i class="bi bi-person-fill"></i>
                <input type="text" id="username" name="username" placeholder=" Type your Username" required>
            </div>
            <div class="input-group">
                <i class="bi bi-file-lock-fill"></i>
                <input type="password" id="password" name="password" placeholder=" Type yourPassword" required>
            </div>
             <div class="forgot-password"><br>
                <a href="">Forgot Password?</a>
            </div><br>
            <button type="submit">Login</button><br><br><br>
            <center><label> or sign up using </center><br>
                <i class="bi bi-facebook"></i> 
                &nbsp; 
                <i class="bi bi-google"></i>
                &nbsp; 
                <i class="bi bi-twitter"></i>
        </form>
    </div>
</body>
</html>


