{% extends 'sidebar.html' %}
{% block content %}
{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'icofont/icofont.min.css'%}">
</head>
<body>
    <div class="row   pt-5 pb-5" style="background-image: url({%static 'images/back1.jpg' %}); background-size: cover; height: 800px;">
        

    <style>

       

    </style>

</head>

<body style="background-color:#E4E9F7;">

    <script src="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js' %}" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <div class="col-4  " ></div>
            <div class="col-6   mt-5 mb-5  " style="">
                <h1 style="text-align:center;">QR GENRATOR</h1><br>
                <center></center>
                <form method="POST" action="" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <p>{{succ}}</p>
                    

   


                <form method="POST" action="" enctype="multipart/form-data">

                    {% csrf_token %}

                       

 

                    <form action="/generate_qr_code" method="POST">

                        <center><label for="qr_data">QR Code Data:</label></center>

                        <center><input type="text" id="qr_data" class="form-control" name="qr_dat" required><br><br></center>

 

    <center><button type="submit" class="bg-danger" style="padding: 10px;font-size: 25px;border-radius: 5%;width:200px;margin-bottom: 50px;">GENERATE</button>




      </form>      

        {%  if msg == 1 %}

<img src="{%static 'qrcode.png' %}"   height="300px;" width="450px;" style="margin-bottom: 50px;">

 

<a href="{% static 'qrcode.png' %}" class="btn btn-danger" style="text-decoration: none;" download >Download </a></div>

         


 

{% endif %}

 
</div>
</div>

</div>

</div>




</section>

 

   

   

 

    <script>

        var fileInput = document.getElementById('file');

        var fileSelectedMessage = document.getElementById('file-selected-message');

        var fileNameContainer = document.getElementById('file-name');

 

        fileInput.addEventListener('change', function() {

            var fileName = fileInput.files[0].name;

            fileNameContainer.textContent = fileName;

            fileSelectedMessage.style.display = 'block';

        });

    </script>

   

</body>

</html>

{% endblock %}

 

 