{% extends 'sidebar.html' %}
{% block content %}
{% load static %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'icofont/icofont.min.css'%}">
</head>
<body>
	<div class="row   pt-5 pb-5"  >
		
		<div class="col-4  pt-5 pb-5" ></div>
			<div class="col-4 p-5  mt-5 mb-5  bg-warning" style="">
			

		
			<center><h2>PROFILE</h2></center><br/>
<p>name : {{user.name}}</p>
<p>AGE:  {{user.AGE}}</p>
<p>DOB:  {{user.DOB}}</p>
<p>CONTACT:  {{user.CONTACT}}</p>
<p>GENDER:  {{user.GENDER}}</p>
<p>ADDRESS:  {{user.ADDRESS}}</p>
<p>email:  {{user.email}}</p>
{%endblock %}